<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t('models.job.title'), class: 'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label t('models.job.desc'), class: 'control-label' %>
    <%= f.text_area :desc, size: '140x3', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t('models.job.company'), class: 'control-label' %>
    <%= f.text_field :company, class: 'form-control' %>
  </div>

  <div>
    <%= f.submit t('helpers.submit.create', model: t('models.job.one')), class: 'btn btn-primary' %>
    <%= link_to t('actions.cancel'), jobs_path, class: 'btn btn-default' %>
  </div>

<% end %>
