<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><%= t 'referroll.name' %></h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#"><%= t 'actions.home' %></a></li>
            <!-- <li><a href="#"><%= t 'actions.sign-up' %></a></li> -->
            <!-- <li><a href="#" data-toggle="modal" data-target="#signInModal"><%= t 'actions.sign-in' %></a></li> -->
            <li><%= link_to t('actions.sign-in'), sign_in_url %></li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading"><%= t 'referroll.slogan' %></h1>
        <br>
        <!-- <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
        <p class="lead">
          <a href="#" class="btn btn-lg btn-warning"><%= t 'referroll.cta' %></a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p><%= raw t 'referroll.copyright' %>.</p>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Sign In Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="signInModalLabel"><%= t 'actions.sign-in' %></h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/providers' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'actions.close' %></button>
      </div>
    </div>
  </div>
</div>
